/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 may 2023, 13:02:00
    Author     : jmanu
*/



h1,h2{
    text-align: center;
}
h1{
    background-color: black;
    color: white;
}

h2{
    background-color: #40E0D0;
    color: white;
    
}

thead tr{
    background-color: black;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: gray;
}

tbody tr:nth-child(odd) {
    background-color: green;
}